*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #0D192B;
    font-family: 'Outfit' sans-serif;

}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}
.card{
    height: 45rem;
    width: 30rem;
    border:1px solid #14253D;
    border-radius: 1rem;
    padding: 2.5rem;
    box-shadow: 0 1rem 2rem -1rem #0a1424;
    background-color: #0D192B;
}
.card .image img{
    height: 25rem;
    border-radius: 1rem;
}
.bad{
border-radius: 50%;
}
.card h2{
    color: whitesmoke;
    letter-spacing: 1px;
    margin: 1.5rem 0;
}
.card p{
    color: #88ACDA;
    font-size: 1.5rem;
}